<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Показывать пробки</string>
			<key>Key</key>
			<string>show_traffic</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Фоновый режим</string>
			<key>Key</key>
			<string>background_work</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Дистанция до оповещения (40 м - 200 м)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>trigger_radius</string>
			<key>DefaultValue</key>
			<integer>200</integer>
			<key>MinimumValue</key>
			<integer>40</integer>
			<key>MaximumValue</key>
			<integer>200</integer>
		</dict>
	</array>
</dict>
</plist>
